1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

* : Expression
'hello' : Value
-87.8 : Value
- : Expression
/ : Expression
+ : Expression
6 : Value

2. What is the difference between string and variable?

Answer : String can be anything(numeric, alphanumeric etc) which is stored inside of variable. String should be stored used in double/single quotes.
VAriable is reference created to store the data

3. Describe three different data types.

integer : Its a whole number
float : Its a number with decimal point
String : Anything between "" can be a string
Boolean : True and False (1 and 0) are boolean


4. What is an expression made up of? What do all expressions do?

Answer: Expression is combination of operator and operand which is supposed to give other value as a outcome(e.g 2+2 =4 is expression where + is operator and 2 is operand and 4 is outcome )

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Answer: Expression is combination of operator and operand thatevaluate and write single value while statement is any portion of the code or complete code that performs some action

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

Answer : 23

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

Answer : It will be 'spamspamspam' for both

8. Why is eggs a valid variable name while 100 is invalid?

Answer: Becasue variable cant be started with any number or integer, it should start with alphabet


9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Answer: int(), float(), str()

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

Answer : 'I have eaten ' + '99' + ' burritos.' 

(can only concatenate str (not "int") to str)

In [1]:
bacon = 22

In [2]:
bacon + 1

23

In [3]:
'spam' + 'spamspam'

'spamspamspam'

In [4]:
'spam' * 3

'spamspamspam'

In [5]:
x = 10.1

In [6]:
int(x)

10

In [7]:
str(x)

'10.1'

In [9]:
y = "darshan"

In [10]:
str(y)

'darshan'

In [11]:
int (y)

ValueError: invalid literal for int() with base 10: 'darshan'

In [12]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [13]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'